.select {
    color: var(--color-white) !important ;
    font-weight: 100 !important;
    fieldset {
        border: none !important;
    }
    svg {
        color: var(--color-white) !important ;
    }
}
@media screen and (max-width: 480px) {
    .select {
        :global(.MuiSelect-select) {
            display: none !important;
        }
        :global(.MuiSvgIcon-root) {
            display: none !important;
        }
    }
}
