.form {
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.Dialog {
  :global(.MuiPaper-root) {
    width: 500px !important;
  }
}
.area {
  min-height: 100px !important;
  padding: 10px;
}
